# 1. Chan toan bo project
/*

# 2. Whitelist cac file/thu muc can thiet
!/src/
!/main.py
!/.gitignore
!/person3_resolved.jsonl
!/requirements.txt
!/README.md
!/evaluate_retrieval.py
!/evaluate_retrieval_export.py
!/evaluate_reranked_retrieval.py
!/colab_bge_rerank_eval.py
!/colab_bge_rerank_eval.ipynb

# 3. Chan ro cac file/thu muc khong commit
/chunk/
/ground_truth/
/grouth_truth/
**/__pycache__/
__pycache__/
*.pyc
AGENTS.md
**/.env
